/*instal font*/
@font-face {
    font-family: lobster;
    src: url(font/Lobster-Regular.ttf);
}


body {
    margin: 0px;
}

.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
}

.header {
    background-color: darkcyan;
    overflow: hidden;
    width: 100%;
}

.header .logo {
    font-size: 32px;
    float: left;
    font-family: lobster;
    color: white;

}

.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
}

.header .navigation li a {
    color:white;
    text-decoration: none;
    font-family: Roboto;
}

.header .navigation li a:hover {
    color: turquoise;
    text-decoration: underline;
}

.icon-kelas {
    width: 250px;
    height: 250px;
    background-color: darkcyan;
    border-radius: 50%;
}

.parent {
    margin-top:100px ;
}